.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  border-radius: 10px;
}

.button-container button {
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #d95d39;
}

.button-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  width: 50%;
  height: 100%;
  background-color: #d95d39;
}

.button-container button:hover {
    background-color: #812f18;
}
