.aside-option {
  margin: 1rem 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 3rem;
  padding-top: 2rem;
  color: #fff;
}

.aside-option:hover {
  border-right: solid 5px #d95d39;
  left: 4px;
}

.aside-option p {
  margin-left: 2rem;
  font-size: 2rem;
}
